.calc{
    border-radius: 30px;
    height: 600px;
    width: 600px;
    margin-left: 400px;
    margin-top: 60px;
    border: solid 2px;
    background: rgba(58, 56, 56, 0.842);
}
.Name{
    margin-right: 190px;
    margin-top: 30px;
    width: 130px;
    height: 30px;
    float: right;
    font-size: 30px;
    font-family: fantasy;
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #3a3a3a;
    color: #FFFFFF;
}
#text-box{
    border-radius: 30px;
    height: 70px;
    width: 500px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 20px;
    pointer-events: none;
}
.btn-click{
    font-size: 15px;
    border-radius: 30px;
    height: 80px;
    width: 100px;
    margin-left: 36px;
    margin-top: 15px;
    background: gray;
    border: none 1px;
    border-color: rgb(40, 0, 92);
    transition: background 800ms;
}
.btn-click:hover{
    background: rgb(61, 61, 61);
    color: white;
}